.icon-new-note {
  height: 24px;
  width: 24px;
}

.new-note-button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px;
  border: none;
  background-color: transparent;

  cursor: pointer;
}