aside {
  width: 200px;
  transition: transform 0.1s ;
}

aside.closed {
  transform: translateX(-100%);
  width: 0px;
  overflow: hidden;
}

.note {
  display: flex;
  justify-content: space-between;

  position: relative;
}

.note-name-container {
  padding: 9px 0px;
  width: 100%;
  
  cursor: pointer;
}

.note-name-container:hover {
  background-color: rgba(0, 0, 0, 0.227);
}

.note-name-container.selected {
  background-color: aqua;
}

.dropdown-menu {
  position: absolute;
  right: 0px;
  bottom: -25px;

  padding: 10px;

  background-color: rgb(244, 144, 177);

  z-index: 100;

  display: none;
  opacity: 0;
}

.dropdown-menu.active {
  display: block;
  opacity: 1;
}