aside {
  width: 300px;
  transition: transform 0.1s ;

  background-color: var(--bg-dark);
}

aside.closed {
  transform: translateX(-100%);
  width: 0px;
  overflow: hidden;
}

.upper-section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 4px;
  margin-bottom: 10px;
}

.all-notes-label {
  margin-left: 10px;

  font-size: 18px;

}

.notes-container {
  width: 100%;
}

.note {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  height: 50px;
}

.note:hover {
  background-color: var(--bg-medium);
}

.note-name-container {
  padding: 9px 0px;
  width: 100%;
  
  font-size: 16px;
  font-family: sans-serif;

  cursor: pointer;
}

.note.selected {
  background-color: var(--bg-medium);
  border-left: 3px solid var(--pink-accent);
}