aside {
  width: 320px;
  display: flex;
  flex-direction: column;

  transition: transform 0.1s ;

  border-right: 1px solid var(--border-gray);

  background-color: var(--bg-dark);

  position :relative;
}

aside.closed {
  transform: translateX(-100%);
  width: 0px;
  overflow: hidden;
}

.upper-section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 10px;
  padding-bottom: 10px;

  border-bottom: 1px solid var(--border-gray);
}

.all-notes-label {
  margin-left: 10px;

  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.create-notes-actions-container {
  display: flex;

  position: relative;
}

.notes-container {
  width: 100%;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}