.dropdown-menu {
  position: absolute;
  right: 0px;
  bottom: -155px;

  padding: 10px 20px;

  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  border: 1px solid #3a3a3a;

  z-index: 100;

  display: none;
  opacity: 0;
}

.dropdown-menu.active {
  display: block;
  opacity: 1;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dropdown-menu-item {
  padding: 7px;

  background-color: transparent;
  border: none;

  font-size: 15px;
  font-family: sans-serif;

  cursor: pointer;
}

.dropdown-menu-item.delete.alone {
  color: gray;
  pointer-events: none;
}

.dropdown-menu-item.download {
  border: 1px solid var(--border-gray);
  border-radius: 20px;
}

.can-focus:hover {
  background-color: var(--pink-accent);
  border-radius: 20px;
}