.dropdown-menu {
  position: absolute;
  right: 0px;
  bottom: -45px;

  padding: 10px;

  background-color: rgb(244, 144, 177);

  z-index: 100;

  display: none;
  opacity: 0;
}

.dropdown-menu.active {
  display: block;
  opacity: 1;
}