.note {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  height: 50px;

  border-bottom: 1px solid var(--border-gray);
}

.note:hover {
  background-color: var(--bg-medium);
}

.note-name-container {
  padding: 9px 0px;  
  width: 167px;

  font-size: 16px;
  font-family: sans-serif;

  cursor: pointer;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.note.selected {
  background-color: var(--pink-soft);
  border-left: 3px solid var(--pink-accent);
  box-shadow: inset 0 0 0 1px var(--border-pink);
}