:root {
  --bg-darkest: #1a1a1a;
  --bg-dark: #252525;
  --bg-medium: #2d2d2d;
  --pink-accent: #e84393;
  --pink-soft: #e843931a;
  --pink-borders: #e8439333;
}

html {
  color-scheme: dark light;
}

.app {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;
}